/* For Headings And Buttons */
@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&family=Playwrite+AU+SA:wght@100..400&family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Grotesk:wght@300..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&family=Playwrite+AU+SA:wght@100..400&family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Grotesk:wght@300..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+AU+SA:wght@100..400&family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Grotesk:wght@300..700&display=swap");

/* For Paragraph And Description */
@import url("https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&family=Playwrite+AU+SA:wght@100..400&family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Grotesk:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Playfair Display", serif;
  font-family: "Space Grotesk", sans-serif;
 
 
}

.MainContainer {

  padding: 20px 18px;
  background: #000;
  display: flex;
  justify-content: space-between;
  
}
.intro {
  max-width: 40%;
  background: none;
  padding: 15px;
  background: transparent;
  border-radius: 20px;
  box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.6),
    -10px -10px 30px rgba(50, 50, 50, 0.4), 0 0 20px rgba(255, 123, 0, 0.5),
    inset 0 2px 10px rgba(255, 255, 255, 0.05);
  /* box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3), 0 5px 24px rgba(128, 128, 128, 0.4); */
 background: #000;
  height: fit-content;
}
.nav h2 {
  border-bottom: 1px solid;
  border-image: linear-gradient(to right, orange, lightgray) 1;
}
.nav {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
  align-items: center;
  
  gap: 10px;
}
.nav button {
  border: 1px solid rgba(211, 191, 191, 0.185);
  padding: 15px;
  border-radius: 20px;
  background: transparent;
}
.image {
  display: flex;
  justify-content: center;
}
.contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  gap: 30px;
  margin-bottom: 2rem;
}
.contacts i {
  padding: 10px;
  transition: 0.3s ease-in-out;
  border-radius: 50%;
  color: white;
  background: rgba(182, 177, 177, 0.534);
}
.contacts i:hover {
  background-color: white;
  color: #000;
}
.getstart {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.226);
  color: white;
}
.getstart i {
  color: #000;
  padding: 10px;
  background-color: white;
  font-size: 21px;
  border-radius: 50%;
}
.main {
  color: white;
  margin: 3rem auto;
  padding: 10px 70px;
  position: relative;
  background: #000;
}
.headings {
  padding: 13px;
  width: fit-content;
  margin-bottom: 2rem;
}
.headings h5 {
  font-size: 23px;
  font-weight: 300;
  border-bottom: 1px solid rgba(255, 255, 255, 0.226);
}
.introhead {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.226);
  padding: 15px;
  width: fit-content;
  border-radius: 20px;
  background-color: rgba(182, 177, 177, 0.062);
}
.introhead i {
  color: gainsboro;
  font-size: 10px;
}
.introhead h3 {
  font-weight: 400;
}
.mainhead {
  margin-top: 5rem;
}

.mainhead h1 {
  color: white;
  font-size: 60px;
  font-weight: 400;
}
.mainhead p {
  margin-top: 2rem;
  font-weight: 200;
  word-spacing: 3px;
  color: rgba(255, 255, 255, 0.651);
  width: 70%;
  font-family: "Poppins", sans-serif;
  font-style: italic;
}
.skills {
  margin-top: 8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}
.skills span {
  border: 1px solid rgba(255, 255, 255, 0.226);
  padding: 15px;
  border-radius: 20px;
  background-color: rgba(182, 177, 177, 0.062);
  transition: 0.3s ease-in-out;
}
.skills span:hover {
  background-color: white;
  color: #000;
}
.boxes {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
 
}
.boxes > div {
  height: 200px;
  background-color: rgba(182, 177, 177, 0.062);
  border: 1px solid transparent;
  width: 300px;
  border-radius: 20px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3), 0 5px 10px rgba(128, 128, 128, 0.4);
  transition: 0.3s ease-in-out;
}
.box1 {
  padding: 13px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.box1 h5 {
  font-size: 20px;
  color: gray;
  font-weight: 300;
  border-bottom: 1px solid rgba(255, 255, 255, 0.226);
  width: fit-content;
  margin-bottom: 4px;
}
.box1 h3 {
  font-size: 60px;
  font-weight: 500;
  margin-left: 8rem;
  font-weight: 400;
  font-family: "Playfair Display", serif;
}
.boxes > div:hover {
  transform: scale(1.1);
}
#success {
  margin-top: 4rem;
}
.experience {
  margin-top: 3rem;
  padding: 10px;
  /*  background-color: aliceblue;
    color: #000; */
}
.experienceIntro {
  display: flex;

  gap: 30px;
  flex-direction: column;
}
.experhead {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.experhead i {
  color: gainsboro;
  font-weight: 300;
  align-items: center;
}
.experhead h4 {
  font-weight: 300;
  font-size: 20px;
  color: rgba(128, 128, 128, 0.74);
  font-family: "Playfair Display", serif;
}
.experienceIntro h1 {
  font-size: 40px;
  font-weight: 200;
}
.jobs {
  margin-top: 2rem;
}
.jobs h5 {
  color: rgba(128, 128, 128, 0.74);
  font-size: 20px;
  font-weight: 300;
}
.job:hover {
  border-bottom: 1px solid saddlebrown;
  padding: 10px;
}
.jobs h3 {
  color: #e4622fd3;
  font-weight: 400;
}
.jobs span {
  padding: 13px;
  border: 1px solid rgba(255, 255, 255, 0.226);
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}
.jobs span:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3), 0 5px 10px rgba(128, 128, 128, 0.4);
}
.job {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  transition: 0.3s ease-in-out;
}
.services {
  margin-top: 3rem;
  padding: 10px;

  border-radius: 20px;
  margin-bottom: 2rem;
  box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.6),
    -10px -10px 30px rgba(50, 50, 50, 0.4), 0 0 20px rgba(255, 123, 0, 0.5),
    inset 0 2px 10px rgba(255, 255, 255, 0.05);
}

.services p {
  
  margin-top: 1.3rem;
  text-align: center;
  padding: 20px;
  font-family: "Poppins", sans-serif;
   color: rgba(255, 255, 255, 0.651);
   font-style: italic;
   font-weight: 300;
 
}
.servicesCategory {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 10px;
  margin-top: 3rem;
}
.servicesCategory sup {
  font-weight: 300;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.226);
}
.servicesCategory h1 {
  font-size: 50px;
  font-weight: 300;
}
.contact{
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  font-family:"Poppins", sans-serif ;
  margin-bottom: 2rem;
  padding: 0px 13px;
}
.contact h5{
  font-weight: 300;
  font-size: 20px;
  color: rgba(182, 177, 177, 0.89);
}

.aboutme{
  margin-top: 6rem;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* dono upar align ho jayein */
  gap: 90px;
  padding: 5px;
}

.abouthead{
  display: flex;
  align-items: center;
  gap: 10px;
   color: gainsboro;
 
}

.abouthead h4{
  font-weight: 300;
  font-size: 20px;
  color: rgba(128, 128, 128, 0.74);
  font-family: "Playfair Display", serif;
}

.aboutsec{
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 600px;
}

.aboutsec h1{
  font-weight: 300;
  font-size: 40px;
  color: white;
}

.aboutsec p{
  font-family: "Poppins", sans-serif;
  color: rgba(255, 255, 255, 0.651);
  font-style: italic;
  font-weight: 300;
}
.techstack{
  margin-top: 6rem;
}
.techstack h1{
  font-size: 55px;
  font-weight: 450;
  text-align: center;
}
.frontend h2{
margin-top: 3rem;
font-weight: 200;
font-family: "Edu NSW ACT Cursive";
}

.frontend ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  margin-top: 2rem;
  list-style: none;
}
.frontend i{
  margin: 0px 5px;
  font-size: 20px;
}
.contactme{
  margin-top: 4rem;
 border: none;
  padding: 25px;
  box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.6),
    -10px -10px 30px rgba(50, 50, 50, 0.4), 0 0 20px rgba(255, 123, 0, 0.5),
    inset 0 2px 10px rgba(255, 255, 255, 0.05);
    border-radius: 20px;
}
.contactme h1{
  font-size: 65px;
  font-weight: 300;
}
.contactme h2{
  font-size: 55px;
  color: rgba(128, 128, 128, 0.4);
  font-weight: 300;
}
.email{
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}
.email label{
  font-size: 20px;
  margin-bottom: 10px;
 
}
.email input:hover{
border-bottom: 1px solid gray;
}
::placeholder{
  font-size: 15px;
}
.email input{
 border: none;
  padding: 10px 20px;
  background: transparent;
   transition: 0.3s ease-in-out;
}
.email input:focus{
  outline: none;

}
textarea{
  background: transparent;
  padding: 10px;
  border: none;
   transition: 0.3s ease-in-out;
   outline: none;
}
textarea:hover{
border-bottom: 1px solid gray;
}
.pricing{
  margin-top: 3rem;
    display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}
.pricing button{
  padding:15px 20px;
  background: transparent;
  border: 1px solid gray;
  border-radius: 20px;
  color: white;
  transition: 0.3s ease-in-out;

}
.pricing button:hover{
color: black;
background-color: white;
}

@media (max-width: 480px){
  body{
    background-color: black;
  }
  .MainContainer{
    flex-direction: column;
  }
  .intro{
    max-width:100%;
    margin: auto;
  }
  .contacts i{
flex-wrap: wrap;
  }
  .boxes{
    flex-direction: column;
    gap: 40px;
  }
}
